<template name="settingsAdmin">
    {{> contentHeader big='Paramètre Général' small='Configuration'}}
    <section class="content">
        <div class="row pageaff">
            <div class="col-md-12">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <span style="font-size: 20px;"><i class="fa fa-inbox"></i> Configuration</span>
                    </div>
                    <div class="box-body">
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" name="" id="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>