<template name="utilisateurs">
    {{> contentHeader big='Publication' small='En attente de validation'}}
    <section class="content">
        <div class="row pageaff">
            <div class="col-md-12">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <span style="font-size: 20px;"><i class="fa fa-inbox"></i> Publications en attente</span>
                    </div>
                    <div class="box-body">
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th style="padding-left: 2em">Nom et prénom</th>
                                            <th class="text-center">Contact</th>
                                            <th class="text-center">Adresse</th>
                                            <th class="text-center">E-mail</th>
                                            <th class="text-center">Nombre de location</th>
                                            <th class="text-right" style="padding-right: 3em">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="" style="width: 30px; margin-right: 9px" class="img-circle" alt="User Image"/>
                                                </a>
                                                Gnac Marno
                                            </td>
                                            <td class="text-center text-bold">
                                                97 40 36 27
                                            </td>
                                            <td class="text-center" style="max-width: 170px">
                                                Porto-Novo / Tokpota / Maison Gnacadja
                                            </td>
                                            <td class="text-center">
                                                nel@dev.fr
                                            </td>
                                            <td class="text-center text-bold">
                                                4
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group">
                                                    <button style="margin-right: 5px" type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                                    <button style="margin-right: 5px" type="button" class="btn btn-default"><i class="fa fa-user-times"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="" style="width: 30px; margin-right: 9px" class="img-circle" alt="User Image"/>
                                                </a>
                                                Dossou Gin
                                            </td>
                                            <td class="text-center text-bold">
                                                95 16 85 86
                                            </td>
                                            <td class="text-center" style="max-width: 170px">
                                                Benin / Oueme / Atlantique / Cotonou / Vodje / Maison Dossou
                                            </td>
                                            <td class="text-center">
                                                dossou@dev.fr
                                            </td>
                                            <td class="text-center text-bold">
                                                2
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group">
                                                    <button style="margin-right: 5px" type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                                    <button style="margin-right: 5px" type="button" class="btn btn-default"><i class="fa fa-user-times"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th style="padding-left: 2em">Nom et prénom</th>
                                            <th class="text-center">Contact</th>
                                            <th class="text-center">Adresse</th>
                                            <th class="text-center">E-mail</th>
                                            <th class="text-center">Nombre de location</th>
                                            <th class="text-right" style="padding-right: 3em">Actions</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>