<template name="fonctionnement">
    <section>
        <!-- How it works -->
        <div class="work-section">
            <div class="container">
                <h2 class="w3-head">Comment ça marche</h2>
                <div class="work-section-head text-center">
                    <p>Porcessus de détermination de la satisfaction client</p>
                </div>
                <div class="work-section-grids text-center">
                    <div class="col-md-3 work-section-grid">
                        <i class="fa fa-train"></i>
                        <h4>Produits et services</h4>
                        <p>Les entreprises postent leur produit dans le but de la soumettre aux avis des clients</p>
                        <span class="arrow1"><img src="images/arrow1.png" alt="" /></span>
                    </div>
                    <div class="col-md-3 work-section-grid">
                        <i class="fa fa-eye"></i>
                        <h4>Réaction</h4>
                        <p>Les utilisateurs peuvent alors donner leur avis par rapport aux produits</p>
                        <span class="arrow2"><img src="images/arrow2.png" alt="" /></span>
                    </div>
                    <div class="col-md-3 work-section-grid">
                        <i class="fa fa-bar-chart"></i>
                        <h4>Statistiques</h4>
                        <p>Notre système se charge d'établire les statistiques par rapport à chaque produit</p>
                        <span class="arrow1"><img src="images/arrow1.png" alt="" /></span>
                    </div>
                    <div class="col-md-3 work-section-grid">
                        <i class="fa fa-eye"></i>
                        <h4>Consultation</h4>
                        <p>Les entreprises pourront alors consulter l'avis du publique vis à vis de leur produit</p>
                    </div>
                    <div class="clearfix"></div>
                    <a class="work" href="{{pathFor 'enregistrement'}}">Commencer</a>
                </div>
            </div>
        </div>
        <div class="happy-clients">
            <div class="container">
                <div class="happy-clients-head text-center wow fadeInRight" data-wow-delay="0.4s">
                    <h3>Entreprises satisfaites</h3>
                    <p>Quelques entreprises qui ont été satisfait par notre service</p>
                </div>
                <div class="happy-clients-grids">
                    <div class="col-md-6 happy-clients-grid wow bounceIn" data-wow-delay="0.4s">
                        <div class="client">
                            <img src="images/client_1.jpg" alt="" />
                        </div>
                        <div class="client-info">
                            <p><img src="images/open-quatation.jpg" class="open" alt="" />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.<img src="images/close-quatation.jpg" class="closeq" alt="" /></p>
                            <h4><a href="#">Darwin Michle, </a>Project manager</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 happy-clients-grid span_66 wow bounceIn" data-wow-delay="0.4s">
                        <div class="client">
                            <img src="images/client_2.jpg" alt="" />
                        </div>
                        <div class="client-info">
                            <p><img src="images/open-quatation.jpg" class="open" alt="" />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<img src="images/close-quatation.jpg" class="closeq" alt="" /></p>
                            <h4><a href="#">Madam Elisabath, </a>Creative Director</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- // How it works -->
    </section>
</template>